* {
    all: unset;
    font-family: "Ubuntu";
    font-size: 14px;
}

#window {
    background: linear-gradient(90deg, rgba(56,183,171, 0.8) 0%, rgba(191, 199, 202, 1) 35%);
    border-radius: 12px;
}

#outer-box {
    background-color: #000;
    border-image: linear-gradient(#38b7ab, #bfc7ca) 45;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

#input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #0d0d0d;
}

#entry {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    color: #bfc7ca;
    border-radius: 8px;
}

#entry:selected {
    background-color: #0ccfd9;
    color: #0d0d0d;
}
