* {
    all: unset;
    font-family: "Ubuntu";
    font-size: 14px;
}

#window {
    background: linear-gradient(90deg, rgba(220,20,60,1) 0%, rgba(255,236,236,1) 35%);
    border-radius: 12px;
}

#outer-box {
    background-color: #000;
    border-image: linear-gradient(#dc143c, #ffecec) 45;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
}

#input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #413232;
}

#entry {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    color: #fff;
    border-radius: 8px;
}

#entry:selected {
    background-color: #dc143c;
    color: #d9e0ee;
}
