/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0D0D0D;
    background-alt: #2f3144;
    foreground:     #F0FFF0FF;
    selected:       #6CF7BFFF;
    active:         #F0FFF0;
    urgent:         #6CF7BFFF;
}
